$mobile-width: 768px;
$desktop-width: 1024px;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

@mixin mobile {
    @media (max-width: #{$desktop-width - 1px}) {
      @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin box-shadow($x...) {
    box-shadow: $x;
    -webkit-box-shadow: $x;
}

@mixin transition($x...) {
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}

@mixin headings {
    h1, h2, h3,
    h4, h5, h6 {
        @content;
    }
}

$color-green: #4CB944;
$color-gray: #d6d6d8;
$color-black: #12130F;
$color-black-lite: #353536;
$color-white: #F8F8FF;
$color-accent: #ee6539;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

html, body, #root {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    line-height: 1.2;
}
*{
    font-size: 16px;
    box-sizing: border-box;
}

button, input[type=button], input[type=submit] {
    @include box-shadow(0px 4px 6px rgba(0, 0, 0, 0.3));
    @include transition(background-color 0.2s linear);
    color: $color-black;
    &:active{
        background-color: darken($color-gray, 15%);
    }
}

input[type=button], input[type=submit], button{
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    font-size: 12em;
    border-radius: 5px;

    @include transition(box-shadow 0.2s linear);

    &:active{
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
        transition: none;

    }
}

textarea {
    display: block;
    resize: none;
    margin: 0.5em;
    @include desktop {
        min-width: 600px;
    }
}

input[type=submit] {
    float: right;
}


button, input, textarea {
    font-size: 1em;
    background-color: $color-white;
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
}

i {
    display: block;
    background-color: transparent !important;
}

input {
    display: block;
    border: 1px solid $color-black;
    color: $color-black-lite;
    background-color: $color-white !important;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

p {
    margin-bottom: 0.75em;
}

.fixed-center{
    top: 40vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

hr {
    border: 1px solid black;
}